.wrapper {
  /* width: 100vw; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #daf7a6;
  overflow: hidden;
}

.frame {
  border: 10px solid #ff8e00;
  width: 250px;
  overflow: hidden;
}

.box-container {
  display: flex;
}

.box {
  box-sizing: border-box;
  border: 5px solid #fff;
  background: #00e7ff;
  width: 250px;
  height: 250px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
}

.button {
  background: #666;
  color: #fff;
  width: 70px;
  text-align: center;
  padding: 10px 20px;
  margin: 10px;
  user-select: none;
  cursor: pointer;
}
